

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.action-links {
  float: right;
  margin: 0;
  padding: 0;
}

.align-items-center {
  align-items: center!important;
}

.d-flex {
  display: flex!important;
}

.pl-3, .px-3 {
  padding-left: 1rem!important;
}

.ruleSet-nested-condition{
  margin-top:10px;
  padding-left:10px; 
  margin-bottom:10px;
}

::ng-deep .ruleSet-nested-condition .ant-select-selector {
  border-radius: 50px !important;
  background-color: #E0E0E0 !important;
  border: 1px solid #E0E0E0 !important;
}

::ng-deep .ruleSet-nested-condition .ant-select-selection-placeholder {
  color: #ffffff;
  font-weight: 500;
}

.rule-condition {

  margin-top:5px;
  padding-left:5px; 
  margin-bottom:5px;
}

::ng-deep .rule-condition .ant-select-selector {
  border-radius: 50px !important;
  background-color: #e61d8b !important;
  border: 1px solid #e61d8b !important; 
}

::ng-deep .rule-condition .ant-select-selection-placeholder {
  color: #ffffff !important;
  font-weight: 500;
}


.ruleSet-Group-Container {

  border-left: 4px solid #E0E0E0;
}


.add-RuleSet {
padding-top: 10px; padding-left:10px; border-left: 4px dashed #E0E0E0;

}



.btn-success {
  color: #fff;
  background-color: #2dce89;
  border-color: #2dce89;
  box-shadow: 0 4px 6px #32325d1c, 0 1px 3px #00000014;
}
.btn-operator {
  padding: 5px 3px!important;
  box-shadow: none!important;
}

.ml-1, .mx-1 {
  margin-left: 0.25rem!important;
}

.mr-1, .mx-1 {
  margin-right: 0.25rem!important;
}

.fields {
  flex-wrap: nowrap!important;
  flex-direction: row!important;
  display: flex!important;

}

.card-content:before {
  content: "Basic";
  background: #1852ff;
}

.card-content:before {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 13px;
  width: 14px;
  background: #1852ff;
  color: #fff;
  margin-right: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 10px;
  display: grid;
  place-items: center;
  border-radius: 0 3px 3px 0;
  transform: rotate(180deg);
}

/* Start remove later */
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}


/* End remove later */